# Cleaning COVID-19 Vaccination Dataset

### Data Sources
- Vaccinations Dataset: https://github.com/owid/covid-19-data/blob/master/public/data/vaccinations/vaccinations.csv

- Documentation/README: https://github.com/owid/covid-19-data/blob/master/public/data/vaccinations/README.md

### Importing Libraries:
`country_converter`: https://pypi.org/project/country-converter/

In [1]:
import pandas as pd
import numpy as np
import country_converter as coco

### 1. Load Dataset:

In [2]:
path_vaccinations = r'raw_data/vaccinations.csv'
df_csv = pd.read_csv(path_vaccinations)

In [3]:
# Create DataFrame copy to work with
df = df_csv.copy()

df.head(10)

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,NaN,0.00,0.00,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
5,Afghanistan,AFG,2021-02-27,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
6,Afghanistan,AFG,2021-02-28,8200.0,8200.0,NaN,NaN,NaN,1367.0,0.02,0.02,NaN,NaN,33.0,1367.0,0.003
7,Afghanistan,AFG,2021-03-01,NaN,NaN,NaN,NaN,NaN,1580.0,NaN,NaN,NaN,NaN,38.0,1580.0,0.004
8,Afghanistan,AFG,2021-03-02,NaN,NaN,NaN,NaN,NaN,1794.0,NaN,NaN,NaN,NaN,44.0,1794.0,0.004
9,Afghanistan,AFG,2021-03-03,NaN,NaN,NaN,NaN,NaN,2008.0,NaN,NaN,NaN,NaN,49.0,2008.0,0.005

### 2. Drop Unnecessary Columns:

In [4]:
cols_to_drop = [
    'daily_vaccinations_raw', 
    'total_vaccinations_per_hundred', 
    'people_vaccinated_per_hundred',
    'people_fully_vaccinated_per_hundred',
    'total_boosters_per_hundred',
    'daily_vaccinations_per_million',
    'daily_people_vaccinated_per_hundred'
]

df_filtered = df.drop(columns = cols_to_drop)
df_filtered

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations,daily_people_vaccinated
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,1367.0
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,1367.0
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,1367.0
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,1367.0
...,...,...,...,...,...,...,...,...,...
195821,Zimbabwe,ZWE,2022-10-05,12219760.0,6436704.0,4750104.0,1032952.0,2076.0,638.0
195822,Zimbabwe,ZWE,2022-10-06,NaN,NaN,NaN,NaN,1714.0,563.0
195823,Zimbabwe,ZWE,2022-10-07,NaN,NaN,NaN,NaN,1529.0,462.0
195824,Zimbabwe,ZWE,2022-10-08,NaN,NaN,NaN,NaN,1344.0,361.0
195825,Zimbabwe,ZWE,2022-10-09,12222754.0,6437808.0,4751270.0,1033676.0,1126.0,332.0

### 3. Check Duplicate Rows:

In [5]:
df_filtered[df_filtered.duplicated()]

Empty DataFrame
Columns: [location, iso_code, date, total_vaccinations, people_vaccinated, people_fully_vaccinated, total_boosters, daily_vaccinations, daily_people_vaccinated]
Index: []

### 4. Check Missing Values:

In [6]:
# Examine missing values
df_filtered.head(10)

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations,daily_people_vaccinated
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,1367.0
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,1367.0
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,1367.0
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,1367.0
5,Afghanistan,AFG,2021-02-27,NaN,NaN,NaN,NaN,1367.0,1367.0
6,Afghanistan,AFG,2021-02-28,8200.0,8200.0,NaN,NaN,1367.0,1367.0
7,Afghanistan,AFG,2021-03-01,NaN,NaN,NaN,NaN,1580.0,1580.0
8,Afghanistan,AFG,2021-03-02,NaN,NaN,NaN,NaN,1794.0,1794.0
9,Afghanistan,AFG,2021-03-03,NaN,NaN,NaN,NaN,2008.0,2008.0

### Observations:
- Many countries do not report vaccinations on a daily basis, resulting in missing values.
- From documentation, `daily_vaccinations` and `daily_people_vaccinated` columns are calculated using the `total_vaccinations` and `people_vaccinated` columns, respectively. That is why the first value for each row is `NaN`.
    - These values are calculated by linearly interpolating the `total_vaccinations` and `people_vaccinated`, then taking the daily difference, and finally calculating a 7-day-window moving average for the daily counts (see [here](https://github.com/owid/covid-19-data/issues/333#issuecomment-763015298) for a detailed explanation).

### Calculations to Perform:
1. Fill in the missing values in `total_vaccinations`, `people_vaccinated`, `people_fully_vaccinated`, and `total_boosters` by linearly interpolating the missing values.
2. Create `daily_people_fully_vaccinated` and `daily_boosters` columns by taking the difference between the current and previous-day values of `people_fully_vaccinated`, and `total_boosters`, respectively, then applying a 7-day-window moving average.

This will leave us the following vaccination data columns:
- `total_vaccinations`, `people_vaccinated`, `people_fully_vaccinated`, `total_boosters`, `daily_vaccinations`, `daily_people_vaccinated`, `daily_people_fully_vaccinated`, `daily_boosters`

### Notes:
- The first row value of the daily data columns will contain `NaN` values, as some countries only started reporting data some time after administering vaccinations. This results in some countries' data starting with a non-zero `total_vaccination` count, making it impossible to figure out the daily amount administered on that day or before. **Therefore, these values will be kept as `NaN`.**
- For now, we keep the `iso_code` column in case `country-converter` cannot recognize country names from the `location` column.

### 5. Linearly Interpolating Missing Data:

In [7]:
# Linearly interpolates following columns for each group in groupby
def group_interpolate(group):
    columns = [
        'total_vaccinations',
        'people_vaccinated',
        'people_fully_vaccinated', 
        'total_boosters'
        ]
    return group[columns].interpolate(method='linear')

interpolated_cols = df_filtered.groupby('location').apply(group_interpolate).reset_index(drop=True).round()
interpolated_cols

,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters
0,0.0,0.0,NaN,NaN
1,1367.0,1367.0,NaN,NaN
2,2733.0,2733.0,NaN,NaN
3,4100.0,4100.0,NaN,NaN
4,5467.0,5467.0,NaN,NaN
...,...,...,...,...
195821,12219760.0,6436704.0,4750104.0,1032952.0
195822,12220508.0,6436980.0,4750396.0,1033133.0
195823,12221257.0,6437256.0,4750687.0,1033314.0
195824,12222006.0,6437532.0,4750978.0,1033495.0
195825,12222754.0,6437808.0,4751270.0,1033676.0

In [8]:
df_interpolated = df_filtered.copy()

# Update df with interpolated values
df_interpolated[['total_vaccinations', 'people_vaccinated',
                 'people_fully_vaccinated', 'total_boosters']] = interpolated_cols
df_interpolated

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations,daily_people_vaccinated
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,1367.0,1367.0,NaN,NaN,1367.0,1367.0
2,Afghanistan,AFG,2021-02-24,2733.0,2733.0,NaN,NaN,1367.0,1367.0
3,Afghanistan,AFG,2021-02-25,4100.0,4100.0,NaN,NaN,1367.0,1367.0
4,Afghanistan,AFG,2021-02-26,5467.0,5467.0,NaN,NaN,1367.0,1367.0
...,...,...,...,...,...,...,...,...,...
195821,Zimbabwe,ZWE,2022-10-05,12219760.0,6436704.0,4750104.0,1032952.0,2076.0,638.0
195822,Zimbabwe,ZWE,2022-10-06,12220508.0,6436980.0,4750396.0,1033133.0,1714.0,563.0
195823,Zimbabwe,ZWE,2022-10-07,12221257.0,6437256.0,4750687.0,1033314.0,1529.0,462.0
195824,Zimbabwe,ZWE,2022-10-08,12222006.0,6437532.0,4750978.0,1033495.0,1344.0,361.0
195825,Zimbabwe,ZWE,2022-10-09,12222754.0,6437808.0,4751270.0,1033676.0,1126.0,332.0

### 6. Calculating `daily_people_fully_vaccinated` and `daily_boosters` Columns:

In [9]:
# Calculates daily new counts for following columns
def diff_within_group(group):
    columns = [
        'people_fully_vaccinated',
        'total_boosters'
    ]
    return group[columns].diff()

diff_cols = (
    df_interpolated
    .groupby('location')
    .apply(diff_within_group)
    .reset_index(drop=True)
)
diff_cols

        people_fully_vaccinated  total_boosters
0                           NaN             NaN
1                           NaN             NaN
2                           NaN             NaN
3                           NaN             NaN
4                           NaN             NaN
...                         ...             ...
195821                    582.0           507.0
195822                    292.0           181.0
195823                    291.0           181.0
195824                    291.0           181.0
195825                    292.0           181.0

[195826 rows x 2 columns]

In [10]:
# Calculate moving average for daily values
moving_avg_cols = diff_cols.rolling(window=7, min_periods=1).mean().round()
moving_avg_cols

        people_fully_vaccinated  total_boosters
0                           NaN             NaN
1                           NaN             NaN
2                           NaN             NaN
3                           NaN             NaN
4                           NaN             NaN
...                         ...             ...
195821                    677.0           762.0
195822                    597.0           553.0
195823                    564.0           503.0
195824                    531.0           453.0
195825                    434.0           360.0

[195826 rows x 2 columns]

In [11]:
df_new_cols = df_interpolated.copy()

# Update df with new moving average values
df_new_cols[['daily_people_fully_vaccinated', 'daily_boosters']] = moving_avg_cols

df_new_cols

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations,daily_people_vaccinated,daily_people_fully_vaccinated,daily_boosters
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,1367.0,1367.0,NaN,NaN,1367.0,1367.0,NaN,NaN
2,Afghanistan,AFG,2021-02-24,2733.0,2733.0,NaN,NaN,1367.0,1367.0,NaN,NaN
3,Afghanistan,AFG,2021-02-25,4100.0,4100.0,NaN,NaN,1367.0,1367.0,NaN,NaN
4,Afghanistan,AFG,2021-02-26,5467.0,5467.0,NaN,NaN,1367.0,1367.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
195821,Zimbabwe,ZWE,2022-10-05,12219760.0,6436704.0,4750104.0,1032952.0,2076.0,638.0,677.0,762.0
195822,Zimbabwe,ZWE,2022-10-06,12220508.0,6436980.0,4750396.0,1033133.0,1714.0,563.0,597.0,553.0
195823,Zimbabwe,ZWE,2022-10-07,12221257.0,6437256.0,4750687.0,1033314.0,1529.0,462.0,564.0,503.0
195824,Zimbabwe,ZWE,2022-10-08,12222006.0,6437532.0,4750978.0,1033495.0,1344.0,361.0,531.0,453.0
195825,Zimbabwe,ZWE,2022-10-09,12222754.0,6437808.0,4751270.0,1033676.0,1126.0,332.0,434.0,360.0

### 7. Check for Impossible Values:

In [12]:
# Check for negative values of daily count
df_new_cols[df_new_cols['daily_people_fully_vaccinated'] < 0]

Empty DataFrame
Columns: [location, iso_code, date, total_vaccinations, people_vaccinated, people_fully_vaccinated, total_boosters, daily_vaccinations, daily_people_vaccinated, daily_people_fully_vaccinated, daily_boosters]
Index: []

In [13]:
# Check for negative values of daily count
df_new_cols[df_new_cols['daily_boosters'] < 0]

Empty DataFrame
Columns: [location, iso_code, date, total_vaccinations, people_vaccinated, people_fully_vaccinated, total_boosters, daily_vaccinations, daily_people_vaccinated, daily_people_fully_vaccinated, daily_boosters]
Index: []

### 8. Standardize Country Names:
- Standardize country names for consistency, and remove non-country entries using `country_converter` package.

In [14]:
# Create dict that maps old name to standardized name
def convert_country_names(country_names):
    standard_names = coco.convert(names=country_names, to='name_short')
    country_convert_dict = dict(zip(country_names, standard_names))
    return country_convert_dict

# Extract location names
location_names = df_new_cols['location'].unique()

# Convert country names and create dict to match old and standardized
country_dict = convert_country_names(location_names)
country_dict

Africa not found in regex
Asia not found in regex
Europe not found in regex
European Union not found in regex
High income not found in regex
Low income not found in regex
Lower middle income not found in regex
North America not found in regex
Northern Ireland not found in regex
Oceania not found in regex
Scotland not found in regex
South America not found in regex
Timor not found in regex
Upper middle income not found in regex
Wales not found in regex
World not found in regex

{'Afghanistan': 'Afghanistan',
 'Africa': 'not found',
 'Albania': 'Albania',
 'Algeria': 'Algeria',
 'Andorra': 'Andorra',
 'Angola': 'Angola',
 'Anguilla': 'Anguilla',
 'Antigua and Barbuda': 'Antigua and Barbuda',
 'Argentina': 'Argentina',
 'Armenia': 'Armenia',
 'Aruba': 'Aruba',
 'Asia': 'not found',
 'Australia': 'Australia',
 'Austria': 'Austria',
 'Azerbaijan': 'Azerbaijan',
 'Bahamas': 'Bahamas',
 'Bahrain': 'Bahrain',
 'Bangladesh': 'Bangladesh',
 'Barbados': 'Barbados',
 'Belarus': 'Belarus',
 'Belgium': 'Belgium',
 'Belize': 'Belize',
 'Benin': 'Benin',
 'Bermuda': 'Bermuda',
 'Bhutan': 'Bhutan',
 'Bolivia': 'Bolivia',
 'Bonaire Sint Eustatius and Saba': 'Bonaire, Saint Eustatius and Saba',
 'Bosnia and Herzegovina': 'Bosnia and Herzegovina',
 'Botswana': 'Botswana',
 'Brazil': 'Brazil',
 'British Virgin Islands': 'British Virgin Islands',
 'Brunei': 'Brunei Darussalam',
 'Bulgaria': 'Bulgaria',
 'Burkina Faso': 'Burkina Faso',
 'Burundi': 'Burundi',
 'Cambodia': 'Cambodia',
 'Cameroon': 'Cameroon',
 'Canada': 'Canada',
 'Cape Verde': 'Cabo Verde',
 'Cayman Islands': 'Cayman Islands',
 'Central African Republic': 'Central African Republic',
 'Chad': 'Chad',
 'Chile': 'Chile',
 'China': 'China',
 'Colombia': 'Colombia',
 'Comoros': 'Comoros',
 'Congo': 'Congo Republic',
 'Cook Islands': 'Cook Islands',
 'Costa Rica': 'Costa Rica',
 "Cote d'Ivoire": "Cote d'Ivoire",
 'Croatia': 'Croatia',
 'Cuba': 'Cuba',
 'Curacao': 'Curacao',
 'Cyprus': 'Cyprus',
 'Czechia': 'Czechia',
 'Democratic Republic of Congo': 'DR Congo',
 'Denmark': 'Denmark',
 'Djibouti': 'Djibouti',
 'Dominica': 'Dominica',
 'Dominican Republic': 'Dominican Republic',
 'Ecuador': 'Ecuador',
 'Egypt': 'Egypt',
 'El Salvador': 'El Salvador',
 'England': 'United Kingdom',
 'Equatorial Guinea': 'Equatorial Guinea',
 'Estonia': 'Estonia',
 'Eswatini': 'Eswatini',
 'Ethiopia': 'Ethiopia',
 'Europe': 'not found',
 'European Union': 'not found',
 'Faeroe Islands': 'Faroe Islands',
 'Falkland Islands': 'Falkland Islands',
 'Fiji': 'Fiji',
 'Finland': 'Finland',
 'France': 'France',
 'French Polynesia': 'French Polynesia',
 'Gabon': 'Gabon',
 'Gambia': 'Gambia',
 'Georgia': 'Georgia',
 'Germany': 'Germany',
 'Ghana': 'Ghana',
 'Gibraltar': 'Gibraltar',
 'Greece': 'Greece',
 'Greenland': 'Greenland',
 'Grenada': 'Grenada',
 'Guatemala': 'Guatemala',
 'Guernsey': 'Guernsey',
 'Guinea': 'Guinea',
 'Guinea-Bissau': 'Guinea-Bissau',
 'Guyana': 'Guyana',
 'Haiti': 'Haiti',
 'High income': 'not found',
 'Honduras': 'Honduras',
 'Hong Kong': 'Hong Kong',
 'Hungary': 'Hungary',
 'Iceland': 'Iceland',
 'India': 'India',
 'Indonesia': 'Indonesia',
 'Iran': 'Iran',
 'Iraq': 'Iraq',
 'Ireland': 'Ireland',
 'Isle of Man': 'Isle of Man',
 'Israel': 'Israel',
 'Italy': 'Italy',
 'Jamaica': 'Jamaica',
 'Japan': 'Japan',
 'Jersey': 'Jersey',
 'Jordan': 'Jordan',
 'Kazakhstan': 'Kazakhstan',
 'Kenya': 'Kenya',
 'Kiribati': 'Kiribati',
 'Kosovo': 'Kosovo',
 'Kuwait': 'Kuwait',
 'Kyrgyzstan': 'Kyrgyz Republic',
 'Laos': 'Laos',
 'Latvia': 'Latvia',
 'Lebanon': 'Lebanon',
 'Lesotho': 'Lesotho',
 'Liberia': 'Liberia',
 'Libya': 'Libya',
 'Liechtenstein': 'Liechtenstein',
 'Lithuania': 'Lithuania',
 'Low income': 'not found',
 'Lower middle income': 'not found',
 'Luxembourg': 'Luxembourg',
 'Macao': 'Macau',
 'Madagascar': 'Madagascar',
 'Malawi': 'Malawi',
 'Malaysia': 'Malaysia',
 'Maldives': 'Maldives',
 'Mali': 'Mali',
 'Malta': 'Malta',
 'Mauritania': 'Mauritania',
 'Mauritius': 'Mauritius',
 'Mexico': 'Mexico',
 'Moldova': 'Moldova',
 'Monaco': 'Monaco',
 'Mongolia': 'Mongolia',
 'Montenegro': 'Montenegro',
 'Montserrat': 'Montserrat',
 'Morocco': 'Morocco',
 'Mozambique': 'Mozambique',
 'Myanmar': 'Myanmar',
 'Namibia': 'Namibia',
 'Nauru': 'Nauru',
 'Nepal': 'Nepal',
 'Netherlands': 'Netherlands',
 'New Caledonia': 'New Caledonia',
 'New Zealand': 'New Zealand',
 'Nicaragua': 'Nicaragua',
 'Niger': 'Niger',
 'Nigeria': 'Nigeria',
 'Niue': 'Niue',
 'North America': 'not found',
 'North Macedonia': 'North Macedonia',
 'Northern Cyprus': 'Cyprus',
 'Northern Ireland': 'not found',
 'Norway': 'Norway',
 'Oceania': 'not found',
 'Oman': 'Oman',
 'Pakistan': 'Pakistan',
 'Palestine': 'Palestine',
 'Panama': 'Panama',
 'Papua New Guinea': 'Papua New Guinea',
 'Paraguay': 'Paraguay',
 'Peru': 'Peru',
 'Philippines': 'Philippines',
 'Pitcairn': 'Pitcairn',
 'Poland': 'Poland',
 'Portugal': 'Portugal',
 'Qatar': 'Qatar',
 'Romania': 'Romania',
 'Russia': 'Russia',
 'Rwanda': 'Rwanda',
 'Saint Helena': 'St. Helena',
 'Saint Kitts and Nevis': 'St. Kitts and Nevis',
 'Saint Lucia': 'St. Lucia',
 'Saint Vincent and the Grenadines': 'St. Vincent and the Grenadines',
 'Samoa': 'Samoa',
 'San Marino': 'San Marino',
 'Sao Tome and Principe': 'Sao Tome and Principe',
 'Saudi Arabia': 'Saudi Arabia',
 'Scotland': 'not found',
 'Senegal': 'Senegal',
 'Serbia': 'Serbia',
 'Seychelles': 'Seychelles',
 'Sierra Leone': 'Sierra Leone',
 'Singapore': 'Singapore',
 'Sint Maarten (Dutch part)': 'Sint Maarten',
 'Slovakia': 'Slovakia',
 'Slovenia': 'Slovenia',
 'Solomon Islands': 'Solomon Islands',
 'Somalia': 'Somalia',
 'South Africa': 'South Africa',
 'South America': 'not found',
 'South Korea': 'South Korea',
 'South Sudan': 'South Sudan',
 'Spain': 'Spain',
 'Sri Lanka': 'Sri Lanka',
 'Sudan': 'Sudan',
 'Suriname': 'Suriname',
 'Sweden': 'Sweden',
 'Switzerland': 'Switzerland',
 'Syria': 'Syria',
 'Taiwan': 'Taiwan',
 'Tajikistan': 'Tajikistan',
 'Tanzania': 'Tanzania',
 'Thailand': 'Thailand',
 'Timor': 'not found',
 'Togo': 'Togo',
 'Tokelau': 'Tokelau',
 'Tonga': 'Tonga',
 'Trinidad and Tobago': 'Trinidad and Tobago',
 'Tunisia': 'Tunisia',
 'Turkey': 'Türkiye',
 'Turkmenistan': 'Turkmenistan',
 'Turks and Caicos Islands': 'Turks and Caicos Islands',
 'Tuvalu': 'Tuvalu',
 'Uganda': 'Uganda',
 'Ukraine': 'Ukraine',
 'United Arab Emirates': 'United Arab Emirates',
 'United Kingdom': 'United Kingdom',
 'United States': 'United States',
 'Upper middle income': 'not found',
 'Uruguay': 'Uruguay',
 'Uzbekistan': 'Uzbekistan',
 'Vanuatu': 'Vanuatu',
 'Venezuela': 'Venezuela',
 'Vietnam': 'Vietnam',
 'Wales': 'not found',
 'Wallis and Futuna': 'Wallis and Futuna Islands',
 'World': 'not found',
 'Yemen': 'Yemen',
 'Zambia': 'Zambia',
 'Zimbabwe': 'Zimbabwe'}

In [15]:
# Create copy of df
df_standardized = df_new_cols.copy()

# Replace old country names with standardized names
df_standardized['location'] = df_standardized['location'].replace(country_dict)

# Drop non-country locations by location == 'not found'
df_standardized = df_standardized[df_standardized['location'] != 'not found']
df_standardized

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations,daily_people_vaccinated,daily_people_fully_vaccinated,daily_boosters
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,1367.0,1367.0,NaN,NaN,1367.0,1367.0,NaN,NaN
2,Afghanistan,AFG,2021-02-24,2733.0,2733.0,NaN,NaN,1367.0,1367.0,NaN,NaN
3,Afghanistan,AFG,2021-02-25,4100.0,4100.0,NaN,NaN,1367.0,1367.0,NaN,NaN
4,Afghanistan,AFG,2021-02-26,5467.0,5467.0,NaN,NaN,1367.0,1367.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
195821,Zimbabwe,ZWE,2022-10-05,12219760.0,6436704.0,4750104.0,1032952.0,2076.0,638.0,677.0,762.0
195822,Zimbabwe,ZWE,2022-10-06,12220508.0,6436980.0,4750396.0,1033133.0,1714.0,563.0,597.0,553.0
195823,Zimbabwe,ZWE,2022-10-07,12221257.0,6437256.0,4750687.0,1033314.0,1529.0,462.0,564.0,503.0
195824,Zimbabwe,ZWE,2022-10-08,12222006.0,6437532.0,4750978.0,1033495.0,1344.0,361.0,531.0,453.0
195825,Zimbabwe,ZWE,2022-10-09,12222754.0,6437808.0,4751270.0,1033676.0,1126.0,332.0,434.0,360.0

### 8. Convert `date` to dtype `datetime`:

In [16]:
# Convert date column to datetime for consistency
df_standardized['date'] = pd.to_datetime(df_standardized['date'])
df_standardized

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations,daily_people_vaccinated,daily_people_fully_vaccinated,daily_boosters
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,1367.0,1367.0,NaN,NaN,1367.0,1367.0,NaN,NaN
2,Afghanistan,AFG,2021-02-24,2733.0,2733.0,NaN,NaN,1367.0,1367.0,NaN,NaN
3,Afghanistan,AFG,2021-02-25,4100.0,4100.0,NaN,NaN,1367.0,1367.0,NaN,NaN
4,Afghanistan,AFG,2021-02-26,5467.0,5467.0,NaN,NaN,1367.0,1367.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
195821,Zimbabwe,ZWE,2022-10-05,12219760.0,6436704.0,4750104.0,1032952.0,2076.0,638.0,677.0,762.0
195822,Zimbabwe,ZWE,2022-10-06,12220508.0,6436980.0,4750396.0,1033133.0,1714.0,563.0,597.0,553.0
195823,Zimbabwe,ZWE,2022-10-07,12221257.0,6437256.0,4750687.0,1033314.0,1529.0,462.0,564.0,503.0
195824,Zimbabwe,ZWE,2022-10-08,12222006.0,6437532.0,4750978.0,1033495.0,1344.0,361.0,531.0,453.0
195825,Zimbabwe,ZWE,2022-10-09,12222754.0,6437808.0,4751270.0,1033676.0,1126.0,332.0,434.0,360.0

### 9. Rename Columns and Drop `iso_code` Column:

In [17]:
# Rename column for consistency and drop unnecessary column
df_cleaned = df_standardized.rename(columns={'location': 'country'}).drop(columns='iso_code')
df_cleaned

,country,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations,daily_people_vaccinated,daily_people_fully_vaccinated,daily_boosters
0,Afghanistan,2021-02-22,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,2021-02-23,1367.0,1367.0,NaN,NaN,1367.0,1367.0,NaN,NaN
2,Afghanistan,2021-02-24,2733.0,2733.0,NaN,NaN,1367.0,1367.0,NaN,NaN
3,Afghanistan,2021-02-25,4100.0,4100.0,NaN,NaN,1367.0,1367.0,NaN,NaN
4,Afghanistan,2021-02-26,5467.0,5467.0,NaN,NaN,1367.0,1367.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
195821,Zimbabwe,2022-10-05,12219760.0,6436704.0,4750104.0,1032952.0,2076.0,638.0,677.0,762.0
195822,Zimbabwe,2022-10-06,12220508.0,6436980.0,4750396.0,1033133.0,1714.0,563.0,597.0,553.0
195823,Zimbabwe,2022-10-07,12221257.0,6437256.0,4750687.0,1033314.0,1529.0,462.0,564.0,503.0
195824,Zimbabwe,2022-10-08,12222006.0,6437532.0,4750978.0,1033495.0,1344.0,361.0,531.0,453.0
195825,Zimbabwe,2022-10-09,12222754.0,6437808.0,4751270.0,1033676.0,1126.0,332.0,434.0,360.0

### 10. Export to .csv File:

In [18]:
path_export = r'cleaned_data/covid_vaccinations.csv'
df_cleaned.to_csv(path_export)